.text-gradient
    background: linear-gradient(45deg, #f0c27b 25%, #fdf6e3 100%)
    background-clip: text
    -webkit-text-fill-color: transparent
    font-size: 48px
    font-weight: 700
    display: flex
    justify-content: center
    text-align: center
    margin-bottom: 2rem